
.soldier-container {
  background-color: #000; 
  min-height: 100vh;
  padding: 20px;
  color: #fff;
}


.soldier-header {
  border-bottom: 1px solid #222;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}


.soldier-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 18px;
}


.soldier-card {
  background: #111;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #222;
  transition: transform 0.2s ease, background 0.3s ease;
}

.soldier-card:hover {
  background: #1a1a1a;
  transform: scale(1.04);
}

.avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-bottom: 10px;
}


.soldier-name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
}

.soldier-role {
  color: #aaa;
  font-size: 14px;
}
